<app-employee-header></app-employee-header>

<div class="row">
  <div class="col-md-12">
    <div class="card card-primary card-tabs">
      <div class="card-header p-0 pt-1">
        <ul class="nav nav-tabs" id="custom-tabs-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="custom-tabs-master-tab" data-toggle="pill" href="#custom-tabs-master"
              role="tab" aria-controls="custom-tabs-master-control" aria-selected="false">Employee Master</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="custom-tabs-salaryInfo-tab" data-toggle="pill" href="#custom-tabs-salaryInfo"
              role="tab" aria-controls="custom-tabs-salaryInfo-control" aria-selected="false">Salary Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="custom-tabs-entitle-tab" data-toggle="pill" href="#custom-tabs-entitle" role="tab"
              aria-controls="custom-tabs-entitle-control" aria-selected="false">Entitlement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="custom-tabs-offDocs-tab" data-toggle="pill" aria-selected="false"
              aria-controls="custom-tabs-offDocs-control" role="tab" href="#custom-tabs-offDocs">Official Documents</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="custom-tabs-contactInfo-tab" data-toggle="pill" aria-selected="false"
              aria-controls="custom-tabs-contactInfo-control" role="tab" href="#custom-tabs-contactInfo">Contact
              Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="custom-tabs-salaryHist-tab" data-toggle="pill" aria-selected="false"
              aria-controls="custom-tabs-salaryHist-control" role="tab" href="#custom-tabs-salaryHist">Salary
              History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="custom-tabs-leaveHist-tab" data-toggle="pill" aria-selected="false"
              aria-controls="custom-tabs-leaveHist-control" role="tab" href="#custom-tabs-leaveHist">Leave History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="custom-tabs-appHist-tab" data-toggle="pill" aria-selected="false"
              aria-controls="custom-tabs-appHist-control" role="tab" href="#custom-tabs-appHist">Appraisal History</a>
          </li>

        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content" id="custom-tabs-tabContent">
          <div class="tab-pane fade show active" id="custom-tabs-master" role="tabpanel"
            aria-labelledby="custom-tabs-master-control">
            <div class="overlay-wrapper">
              <form [formGroup]="empmasterForm" (ngSubmit)="SaveEmpInfoDetails()">
                <div class="modal fade" id="modal-success">
                  <div class="modal-dialog">
                    <div class="modal-content bg-success">
                      <div class="modal-header">
                        <h4 class="modal-title">Success Modal</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>Successfully Saved &hellip;</p>
                      </div>
                      <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal">OK</button>
                      </div>
                    </div>
                    <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
                </div>
                <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
                  Employee added Successfully
                  <button (click)="closeAlert()" type="button" style="float:right ;" data-dismiss="alert" class="close"
                    aria-label="Close">X</button>
                </div>
                <div *ngIf="erroralert" class="alert alert-danger alert-dismissible fade show" role="alert">
                  Please check the fields and update properly
                  <button (click)="closeErrorAlert()" type="button" style="float:right ;" data-dismiss="alert"
                    class="close" aria-label="Close">X</button>
                </div>
                <div *ngIf="updatealert" class="alert alert-success alert-dismissible fade show" role="alert">
                  Employee Updated Successfully
                  <button (click)="closeUpdateAlert()" type="button" style="float:right ;" data-dismiss="alert"
                    class="close" aria-label="Close">X</button>
                </div>
                <div class="title"></div>
                <div class="col-12">
                  <div class="card card-info">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="code" class="col-sm-4 col-form-label">Code:</label>
                            <!-- <div class="col-sm-6">
                              <input formControlName="code" name="code" [(ngModel)]="empMaster.code" type="button"
                                class="form-control" placeholder="Enter ...">
                            </div> -->
                            <div class="col-sm-6">
                              <label for="status" class="col-sm-12 col-form-label" style="font-weight: 700;">{{empMaster.code}}</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="jdate" class="col-sm-4 col-form-label">Date of Joining:</label>
                            <div class="col-sm-6">
                              <input formControlName="jdate" type="date" name="jdate" required
                                pattern="\d{4}-\d{2}-\d{2}" [(ngModel)]="empMaster.joiningDate"
                                [ngClass]="{'is-invalid' : submitted && f['jdate'].errors}" class="form-control" />
                              <div class="error-block" *ngIf="submitted && handleError('jdate', 'required')">
                                Please enter Joining Date
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="status" class="col-sm-4 col-form-label">Status:</label>
                            <div class="col-sm-6">
                              <label for="status" class="col-sm-12 col-form-label" style="font-weight: 700;"
                                [style.color]="statusColor=='On Leave'?'orange': statusColor=='Active'?'green':'red'">{{empMaster.status}}</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="firstname" class="col-sm-4 col-form-label">FirstName: <sup
                                style="color:crimson">*</sup> </label>
                            <div class="col-sm-6">
                              <input formControlName="firstname" [(ngModel)]="empMaster.firstName" name="firstname"
                                [ngClass]="{'is-invalid' : submitted && f['firstname'].errors}" type="text"
                                class="form-control" placeholder="Enter ...">
                              <div class="error-block" *ngIf="submitted && handleError('firstname', 'required')">
                                Please enter First Name
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="mname" class="col-sm-4 col-form-label">Middle Name:</label>
                            <div class="col-sm-6">
                              <input formControlName="mname" [(ngModel)]="empMaster.secondName" name="mname" type="text"
                                class="form-control" placeholder="Enter ...">
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="lstname" class="col-sm-4 col-form-label">Last Name: <sup
                                style="color:crimson">*</sup> </label>
                            <div class="col-sm-6">
                              <input formControlName="lstname" name="lstname" [(ngModel)]="empMaster.lastName"
                                [ngClass]="{'is-invalid' : submitted && f['lstname'].errors}" type="text"
                                class="form-control" placeholder="Enter ...">
                              <div class="error-block" *ngIf="submitted && handleError('lstname', 'required')">
                                Please enter Last Name
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="arfname" class="col-sm-4 col-form-label">Arabic First Name:</label>
                            <div class="col-sm-6">
                              <input formControlName="arfname" name="arfname" [(ngModel)]="empMaster.firstNameAr"
                                type="text" class="form-control text-right" placeholder="Enter ...">
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="armdlname" class="col-sm-4 col-form-label">Arabic Middle Name:</label>
                            <div class="col-sm-6">
                              <input formControlName="armdlname"  name="armdlname" [(ngModel)]="empMaster.secondNameAr"
                                type="text" class="form-control text-right" placeholder="Enter ...">
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="arlastname" class="col-sm-4 col-form-label">Arabic Last Name:</label>
                            <div class="col-sm-6">
                              <input formControlName="arlastname"  name="arlastname" [(ngModel)]="empMaster.lastNameAr"
                                type="text" class="form-control text-right" placeholder="Enter ...">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="dateofbirth" class="col-sm-4 col-form-label">Date of Birth:</label>
                            <div class="col-sm-6">
                              <input formControlName="dateofbirth" type="date" name="dateofbirth"
                                [(ngModel)]="empMaster.dateofbirth" placeholder="dd-mm-yyyy"
                                [ngClass]="{'is-invalid' : submitted && f['dateofbirth'].errors}"
                                class="form-control" />
                              <div class="error-block" *ngIf="submitted && handleError('dateofbirth', 'required')">
                                Please enter Date of Birth
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="age" class="col-sm-4 col-form-label">Age:</label>
                            <div class="col-sm-6">
                              <input formControlName="age" name="age" [(ngModel)]="empMaster.age"
                                [ngClass]="{'is-invalid' : submitted && f['age'].errors}" type="text"
                                class="form-control" placeholder="Enter ...">
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Gender: <sup style="color:crimson">*</sup>
                            </label>
                            <div class="col-sm-6">
                              <select class="form-control" formControlName="gender" #gender
                                (change)="onSelectedGender()"
                                [ngClass]="{'is-invalid' : submitted && f['gender'].errors}" style="width: 100%;">
                                <option value="">-----Select-----</option>
                                <option [selected]="empMaster.gender === 'Male'" value="Male">Male</option>
                                <option [selected]="empMaster.gender ==='Female'" value="Female">Female</option>
                              </select>
                              <div class="error-block" *ngIf="submitted && handleError('gender', 'required')">
                                Please enter Gender
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="mobileNumber" class="col-sm-4 col-form-label">Mobile:</label>
                            <div class="col-sm-6">
                              <input formControlName="mobileNumber" name="mobileNumber"
                                [(ngModel)]="empMaster.mobileNumber"
                                [ngClass]="{'is-invalid' : submitted && f['mobileNumber'].errors}" type="text"
                                class="form-control" placeholder="Enter ...">
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="email" class="col-sm-4 col-form-label">Email:</label>
                            <div class="col-sm-6">
                              <input formControlName="email" name="email" [(ngModel)]="empMaster.email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" type="text"
                                class="form-control" placeholder="Enter ...">
                                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                  <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                                </div>
                            </div>
                            
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="visanumber" class="col-sm-4 col-form-label">Visa Number: </label>
                            <div class="col-sm-6">
                              <input formControlName="visanumber" name="visanumber" [(ngModel)]="empMaster.visanumber"
                                type="text" class="form-control" placeholder="Enter ...">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Country: <sup style="color:crimson">*</sup>
                            </label>
                            <div class="col-sm-6">
                              <select name="CountryId" #country formControlName="CountryId"
                                [ngModel]="empMaster.countryId" (change)="onSelectedCountry()" class="form-control"
                                [ngClass]="{'is-invalid' : submitted && f['CountryId'].errors}">
                                <option value="">-----Select-----</option>
                                <option *ngFor="let country of CountryList"
                                  [selected]="country.countryId === empMaster.countryId" [value]="country.countryId">
                                  {{country.countryName}}</option>
                              </select>
                              <!-- <div id="erCount" class="error-block" *ngIf="submitted && handleError('CountryId', 'required')">
                                Please enter Country
                              </div> -->
                              <!-- <div id="CountryError"  class="error-block" >
                                Please enter Country
                              </div> -->
                              <!-- <span ng-show="empmasterForm.controller.$error.required">Country is required.</span> -->
                              <!-- <div *ngIf="country.countryId.errors"></div> -->
                              <div
                                *ngIf="empmasterForm.controls['CountryId'].invalid && empmasterForm.controls['CountryId'].errors?.['required'] && submitted"
                                class="text-danger"> Please enter Country</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Nationality:</label>
                            <div class="col-sm-6">
                              <select name="" #natlist (change)="onSelectedNational()" class="form-control">
                                <option value="">-----Select-----</option>
                                <option *ngFor="let Natlist of Nationalitylist"
                                  [selected]="Natlist.id === empMaster.nationalityId" [value]="Natlist.id">
                                  {{Natlist.nationality1}}</option>
                              </select>
                              <!-- <div class="error-block" *ngIf="submitted && handleError('options', 'required')">
                                You must provide a value!
                              </div> -->
                              <!-- <div class="invalid-feedback" *ngIf="submitted && natlist.errors?.required">
                                <sup>*</sup>Please enter your city name
                              </div> -->
                              <div
                                *ngIf="empmasterForm.controls['NationalityId'].invalid && empmasterForm.controls['NationalityId'].errors?.['required'] && submitted"
                                class="text-danger"> Please enter Nationality</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">RP Number:</label>
                            <div class="col-sm-6">
                              <input formControlName="rpnumber" name="rpnumber" [(ngModel)]="empMaster.rpnumber"
                                type="text" class="form-control" placeholder="Enter ...">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Company:</label>
                            <div class="col-sm-6">
                              <select name="companylist" class="form-control">
                                <option>-----Select-----</option>
                                <option *ngFor="let company of CompanyList"
                                  [selected]="company.id === empMaster.companyBranchId" [value]="company.id">
                                  {{company.name}}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Company Branch:</label>
                            <div class="col-sm-6">
                              <select name="" #cbranch (change)="onSelectedBranch()" class="form-control">
                                <option>-----Select-----</option>
                                <option *ngFor="let cbranch of CbranchList"
                                  [selected]="cbranch.id === empMaster.companyBranchId" [value]="cbranch.id">
                                  {{cbranch.name}}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Sponsor:</label>
                            <div class="col-sm-6">
                              <select id="sponsorname" name="sponsorname" #sponsor (change)="onSelectedSponser()"
                                class="form-control">
                                <option>-----Select-----</option>
                                <option *ngFor="let sponsor of SponsorList"
                                  [selected]="sponsor.id === empMaster.sponsorId" [value]="sponsor.id">
                                  {{sponsor.sponsorName}}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Department: <sup style="color:crimson">*</sup>
                            </label>
                            <div class="col-sm-6">
                              <select name="dept" #dept formControlName="dept"
                                [ngClass]="{'is-invalid' : submitted && f['dept'].errors}"
                                (change)="onSelectedDepartment()" id="dept" class="form-control">
                                <option value="">-----Select-----</option>
                                <option *ngFor="let dept of DepartmentList"
                                  [selected]="dept.id === empMaster.departmentId" [value]="dept.id">{{dept.name}}
                                </option>
                              </select>
                              <!-- <div class="error-block" *ngIf="submitted && handleError('dept', 'required')">
                                Please enter Department
                              </div> -->
                              <div
                                *ngIf="empmasterForm.controls['dept'].invalid && empmasterForm.controls['dept'].errors?.['required'] && submitted"
                                class="text-danger"> Please enter Nationality</div>

                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Section: <sup style="color:crimson">*</sup>
                            </label>
                            <div class="col-sm-6">
                              <select name="section" #sec [ngClass]="{'is-invalid' : submitted && f['section'].errors}"
                                formControlName="section" (change)="onSelectedSection()" class="form-control">
                                <option value="">-----Select-----</option>
                                <option *ngFor="let sec of SectionList" [selected]="sec.id === empMaster.sectionId"
                                  [value]="sec.id">{{sec.name}}</option>
                              </select>
                              <div class="error-block" *ngIf="submitted && handleError('section', 'required')">
                                Please enter Section
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Grade:</label>
                            <div class="col-sm-6">
                              <select name="grade" #grade [ngClass]="{'is-invalid' : submitted && f['grade'].errors}"
                                formControlName="grade" (change)="onSelectedGrade()" class="form-control">
                                <option value="">-----Select-----</option>
                                <option *ngFor="let grade of GradeList" [selected]="grade.id === empMaster.gradeId"
                                  [value]="grade.id">{{grade.name}}</option>
                              </select>
                              <!-- <div class="error-block" *ngIf="submitted && handleError('grade', 'required')">
                                Please enter Grade
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Designation: <sup
                                style="color:crimson">*</sup> </label>
                            <div class="col-sm-6">
                              <select name="designation" #desg
                                [ngClass]="{'is-invalid' : submitted && f['designation'].errors}"
                                formControlName="designation" (change)="onSelectedDesignation()" class="form-control">
                                <option value="">-----Select-----</option>
                                <option *ngFor="let Desig of DesignationList"
                                  [selected]="Desig.id === empMaster.designationId" [value]="Desig.id">{{Desig.name}}
                                </option>
                              </select>
                              <!-- <div class="error-block" *ngIf="submitted && handleError('designation', 'required')">
                                Please enter Designation
                              </div> -->
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="IsManager" class="col-sm-4 col-form-label">IsManager</label>
                            <div class="col-sm-6">
                              <input class="form-check-input" type="checkbox" formControlName="ismgr"
                                [(ngModel)]="empMaster.ismanager" name="ismgr">
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Reporting Manager:</label>
                            <div class="col-sm-6">
                              <select name="" #repmgr (change)="onSelectedReportingMgr()" class="form-control">
                                <option value="">-----Select-----</option>
                                <option *ngFor="let mgr of ManagerList" [selected]="mgr.id === empMaster.managerId"
                                  [value]="mgr.id">{{mgr.firstName + " " +  (mgr.secondName?mgr.secondName:'') + " " + mgr.lastName}}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="arrivaldate" class="col-sm-4 col-form-label">Arrival Date:</label>
                            <div class="col-sm-6">
                              <input formControlName="arrivaldate" type="date" name="arrivaldate"
                                [(ngModel)]="empMaster.dateofarrival" class="form-control" />
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="lastdutydate" class="col-sm-4 col-form-label">Last Duty Date:</label>
                            <div class="col-sm-6">
                              <input type="text" [(ngModel)]="empMaster.lastdutydate" class="form-control" disabled>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="leavingdate" class="col-sm-4 col-form-label">Leaving Date:</label>
                            <div class="col-sm-6">
                              <input type="text" [(ngModel)]="empMaster.leavingdate" class="form-control" disabled />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Category: <sup
                                style="color:crimson">*</sup></label>
                            <div class="col-sm-6">
                              <select name="category" #category
                                [ngClass]="{'is-invalid' : submitted && f['category'].errors}"
                                formControlName="category" (change)="onSelectedCategory()" class="form-control">
                                <option value="">-----Select-----</option>
                                <option *ngFor="let categ of CategoryList"
                                  [selected]="categ.id === empMaster.salaryCategoryId" [value]="categ.id">{{categ.name}}
                                </option>
                              </select>
                              <div class="error-block" *ngIf="submitted && handleError('category', 'required')">
                                Please enter Category
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Bank Name:</label>
                            <div class="col-sm-6">
                              <select name="" #bank (change)="onSelectedBank()" class="form-control">
                                <option>-----Select-----</option>
                                <option *ngFor="let bank of BankList" [selected]="bank.id === empMaster.bankBranchId"
                                  [value]="bank.id">{{bank.name}}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group row">
                            <label for="bankaccno" class="col-sm-4 col-form-label">Bank Account No:</label>
                            <div class="col-sm-6">
                              <input formControlName="bankaccno" name="bankaccno" [(ngModel)]="empMaster.bankAccntNo"
                                [ngClass]="{'is-invalid' : submitted && f['bankaccno'].errors}" type="text"
                                class="form-control" placeholder="Enter ...">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer clearfix"><button type="submit" class="btn btn-info">Save</button>
                      &nbsp;
                      <button [routerLink]="['/EmployeeSearch']" type="button" class="btn btn-info">Back</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="tab-pane fade" id="custom-tabs-salaryInfo" role="tabpanel"
            aria-labelledby="custom-tabs-salaryInfo-control">
            <div class="overlay-wrapper">
              <app-salary-info></app-salary-info>
            </div>
          </div>
          <div class="tab-pane fade" id="custom-tabs-entitle" role="tabpanel"
            aria-labelledby="custom-tabs-entitle-control">
            <div class="overlay-wrapper">
              <app-emp-entitlement></app-emp-entitlement>
            </div>
          </div>
          <div class="tab-pane fade" id="custom-tabs-offDocs" role="tabpanel"
            aria-labelledby="custom-tabs-offDocs-control">
            <div class="overlay-wrapper">
              <app-official-documents></app-official-documents>
            </div>
          </div>
          <div class="tab-pane fade" id="custom-tabs-contactInfo" role="tabpanel"
            aria-labelledby="custom-tabs-contactInfo-tab">
            <div class="overlay-wrapper">
              <app-contact-Info></app-contact-Info>
            </div>
          </div>
          <div class="tab-pane fade" id="custom-tabs-salaryHist" role="tabpanel"
            aria-labelledby="custom-tabs-salaryHist-control">
            <div class="overlay-wrapper">
              <app-salary-history></app-salary-history>
            </div>
          </div>
          <div class="tab-pane fade" id="custom-tabs-leaveHist" role="tabpanel"
            aria-labelledby="custom-tabs-leaveHist-control">
            <div class="overlay-wrapper">
              <app-leave-history></app-leave-history>
            </div>
          </div>
          <div class="tab-pane fade" id="custom-tabs-appHist" role="tabpanel"
            aria-labelledby="custom-tabs-appHist-control">
            <div class="overlay-wrapper">
              <app-appraisal-history></app-appraisal-history>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>