<div class="col-12">
  <div class="card card-info">
    <div class="card-header">
      <h2 class="card-title">Department</h2>
    </div> 
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label for="name" class="col-sm-2 col-form-label">Department</label>
              <div class="col-sm-6">
                <input type="text" [(ngModel)]="name" id="name" name="name" class="form-control"
                  placeholder="Enter ...">
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label for="name" class="col-sm-2 col-form-label">Sort Order</label>
              <div class="col-sm-6">
                <input type="text" [(ngModel)]="sorder" id="sorder" name="sorder" class="form-control"
                  placeholder="Enter ...">
              </div>
            </div>
          </div>
          <!-- <div class="col-sm-3">
            <button type="submit" class="btn btn-info" (click)="searchTitle()"> Search</button>
             <button type="submit" class="btn btn-info" (click)="exportTable()">Export</button>  
         </div> --> 
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-info" (click)="searchTitle()"> Search</button>
           </div>
        </div>

      </form>
    </div>
    <!-- /.card-body -->
  </div>
</div>
<div class="col-12">
  <div class="card">
    <div class="card-header">
      <!-- <h3 class="card-title">Search List</h3> -->
      <button [routerLink]="['/department']" id="addbtn" type="button"
        class="btn btn-success btn rounded float-right"><i class="fas fa-plus"></i> Add New</button>
    </div>
    <div class="card-body table-responsive p-0" style="height: 600px;">
      <div class="card-body p-0">

        <div class="content" role="main">
          <div class="mat-elevation-z8">

            <table id="departmentTable" mat-table [dataSource]="dataSource" class="table-bordened table-striped "
              style="width:100%;" matSort matSortActive="created" matSortDisableClear matSortDirection="asc">

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let department"><a [routerLink]="['/department',department.id]"
                    id="editbtn"><i class="fas fa-edit"></i></a></td>
              </ng-container>

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef class="text-style">Sl No. </th>
                <td mat-cell *matCellDef="let department; let i=index"> {{(paginator.pageIndex * paginator.pageSize) +
                  (i + 1)}} </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let department"> {{department.name}} </td>
              </ng-container>

              <ng-container matColumnDef="shortName">
                <th mat-header-cell *matHeaderCellDef>Short Name </th>
                <td mat-cell *matCellDef="let department">{{department.shortName}}</td>
              </ng-container>

              <ng-container matColumnDef="isActive">
                <th mat-header-cell *matHeaderCellDef> Is Active </th>
                <td mat-cell *matCellDef="let department">
                  <mat-checkbox [disabled]="true" type="checkbox" color="primary" [(ngModel)]="department.isActive">
                  </mat-checkbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="sortOrder">
                <th mat-header-cell *matHeaderCellDef> Sort Order </th>
                <td mat-cell *matCellDef="let department"> {{department.sortOrder}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
            </table>
            <mat-paginator #paginator [pageSize]="13" [pageSizeOptions]="[5, 15, 25]" showFirstLastButtons
              aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>